@import url(https://fonts.bunny.net/css?family=Adamina|Alexandria);
#main-content-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y: scroll;
  margin: 1rem;
}

::-webkit-scrollbar {
  width: 0.2rem;
}

::-webkit-scrollbar-track {
  background: rgb(35, 35, 35);
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 255, 135);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(45, 45, 45);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Alexandria, sans-serif;
  font-size: large;
  letter-spacing: 0.05rem;
  background-color: rgb(35, 35, 35);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Adamina, serif;
  color: rgb(0, 235, 255);
}

p {
  line-height: 1.25rem;
  color: rgb(255, 0, 235);
  font-family: Alexandria, sans-serif;
}

a {
  text-decoration: none;
  font-family: Alexandria, sans-serif;
}

i {
  font-size: 24px;
  color: rgb(0, 255, 135);
}

b {
  color: rgb(0, 235, 255);
}

ol,
ul {
  list-style: none;
  padding: 0;
}
ol li,
ul li {
  color: rgb(0, 235, 255);
  font-family: Alexandria, sans-serif;
}

label {
  cursor: text;
  color: rgb(255, 0, 75);
  font-size: larger;
  font-family: Alexandria, sans-serif;
}

select {
  cursor: pointer;
  padding: 0.4em;
  border: none;
  font-size: large;
  color: rgb(0, 255, 135);
  background-color: rgb(55, 55, 55);
  font-family: Alexandria, sans-serif;
}
select:hover {
  filter: brightness(135%);
}
select:focus {
  outline: transparent;
}

button {
  all: unset;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.4em;
  border: none;
  font-size: large;
  color: rgb(0, 255, 135);
  background-color: rgb(55, 55, 55);
  font-family: Alexandria, sans-serif;
}
button:hover {
  filter: brightness(135%);
}
button:focus {
  outline: transparent;
}

input[type=text] {
  padding: 0.4em;
  border: none;
  font-size: large;
  color: rgb(0, 255, 135);
  background-color: rgb(55, 55, 55);
  font-family: Alexandria, sans-serif;
}
input[type=text]:hover {
  filter: brightness(135%);
}
input[type=text]:focus {
  outline: transparent;
}

img {
  width: 100%;
}

nav#main-nav {
  display: block;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 0.1rem;
  background-color: rgb(45, 45, 45);
}
nav#main-nav ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
nav#main-nav ol li {
  display: inline-block;
  margin-left: 4%;
  margin-right: 4%;
}
nav#main-nav ol li a {
  padding: 1rem;
  color: rgb(0, 235, 255);
}
nav#main-nav ol li a i {
  font-size: 1.25rem;
  color: rgb(0, 235, 255);
}

.item-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  margin-top: 1rem;
}
.item-grid > * {
  display: inline;
  padding: 1rem;
  padding: 0.4em;
  border: none;
  font-size: large;
  color: rgb(0, 235, 255);
  background-color: rgb(55, 55, 55);
}
.item-grid > *:hover {
  filter: brightness(135%);
}
.item-grid > *:focus {
  outline: transparent;
}
.item-grid > * img {
  width: 100%;
  height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-grid > * h3 {
  margin: 0.5rem;
  text-align: center;
  text-wrap: wrap;
}

img#lunar-img {
  width: 100%;
  max-width: 24rem;
  height: auto;
  max-height: 12rem;
}