<?xml version='1.0' encoding='utf-8'?>
<widget id="com.trinitastea.mage" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mage</name>
    <description>An app designed to assist in spellwork.</description>
    <author email="seamus@trinitastea.com" href="https://trinitastea.com">
        Seamus Daniel Boots
    </author>
    <content src="html/home.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
