@import "../global/body",
		"../global/main-nav";


#tarot-area {
	
	display: flex;
	
	flex-direction: column;
	
	align-items: center;
	
	#card-area {
		
		display: flex;
		
		flex-direction: column;
		
		align-items: center;
		
		margin-top: 1rem;
		
		padding-top: 2rem;
		
		width: 85%;
		height: 100%;
		
		background-color: $lighterBlack;
		
		img {
			
			width: 65%;
			height: 80%;
			
			background-color: $lightBlack;
			
		}
		
		p#card-title {
			
			font-size: 6vw;
			
			color: $brightRed;
			
		}
		
	}
	
}
