@mixin animated-border($height, $color) {
	
	& {
		
		display: block;
		
		position: relative;
		
	}
	
	&:after {
		
		content: "";
		
		position: absolute;
		
		bottom: 0;
		left: 50%;
		
		width: 0;
		
		border-bottom: $height solid $color;
		
		transition: all 0.5s;
		
	}
	
	&:hover:after {
		
		left: 0;
		
		width: 100%;
		
	}
	
}
