$lightBlack: rgb(35, 35, 35);
$lighterBlack: rgb(45, 45, 45);
$lightererBlack: rgb(55, 55, 55);
$lightestBlack: rgb(65, 65, 65);

$brightGreen: rgb(0, 255, 135);
$brightCyan: rgb(0, 235, 255);
$brightMagenta: rgb(255, 0, 235);
$brightRed: rgb(255, 0, 75);
$brightOrange: rgb(255, 125, 0);
